<!-- <div class="p-5 flex flex-col gap-5">
    <scents-button [disabled]="true"></scents-button>
    <scents-button [variant]="'withBorder'"></scents-button>
    <scents-button [variant]="'without'"></scents-button>
</div>

<div class="bg-green-400 p-9 flex flex-col gap-6">
        <scents-input></scents-input>
        <scents-input [variant]="'textarea'"></scents-input>

</div> -->

<!-- <div class="p-8">
    <scents-cat-card></scents-cat-card>
</div> -->

<div>
<!-- <scents-reviews-card></scents-reviews-card> -->
</div>