<div class="bg-[#E8FDE980] py-20 px-24" id="about">
    <div class="flex justify-between items-center">
        <div class="flex flex-col items-center gap-10 w-full max-w-xl">
            <p class="text-center text-black font-bold text-[44px]">Explore more</p>
            <p class="text-start text-[20px]">"Discover more of our hand-crafted bouquets, unique flower arrangements, and seasonal collections
                designed to make every moment special. Explore gifts, care tips, and personalized options that bring
                beauty to every occasion."</p>
            <div class="w-full max-w-48 flex justify-center items-center">
                <scents-button [text]="'Explore'" class="w-full"></scents-button>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <img src="/images/rosa.png" alt="rose" class="w-125 h-125">
        </div>
    </div>

</div>

<div class="bg-[#E8FDE980] py-20 px-24">
    <div class="flex justify-between items-center">
        <div class="flex justify-center items-center w-125 h-125 rounded-[20px]">
            <img src="/images/story.jpg" alt="rose" class="w-full h-full object-cover rounded-[20px]">
        </div>
        <div class="flex flex-col items-center gap-10 w-full max-w-xl">
            <p class="text-center text-black font-bold text-[44px]">Our Story</p>
            <p class="text-start text-[20px]">"Flowers was born from a simple passion: turning moments into memories through the beauty of blooms. What started as a small idea grew into a place where emotions are wrapped in petals and tied with care. Every bouquet is hand-crafted with love, using fresh flowers chosen for their elegance and meaning. Whether it’s to celebrate, to comfort, or simply to brighten a day, our story is about creating connections through flowers that speak louder than words."</p>
          
        </div>
    </div>

</div>