<footer class="bg-[#8F6A77] py-10 px-24">
    <div class="flex flex-col justify-center items-center">
        <p class="font-bold text-[44px] text-white">Get in touch</p>
        <p class="text-[20px] text-white">“Have a question or special request? Get in touch with us today.”</p>
    </div>


    <div>
        <div>for form</div>
        <div>
            @for(card of cards; track $index){
            <div>
                <div>
                    <i class="pi pi-{card.icon}"></i>
                    <p>
                        {{card.title}}
                    </p>
                </div>
                <p>
                    {{card.text}}
                </p>
            </div>
            }
        </div>
    </div>
</footer>